URxvt*background:		#000000
URxvt*urgentOnBell:		false
URxvt*visualBell:		false
URxvt*cursorBlink:		true
URxvt*cursorUnderline:		false
URxvt*pointerBlank:		true
URxvt*pointerColorBackground:	red
URxvt*cursorColor:		#1793d1
URxvt*cursorColor2:		#f3f4f5
URxvt*pointerColorForeground:	yellow
URxvt*highlightColor:		#1793d1
URxvt*highlightTextColor:	#f3f4f5

URxvt*buffered:			true
URxvt*saveLines:		10000

URxvt*scrollBar:		false
URxvt*mouseWheelScrollPage:	true
Urxvt*secondaryScroll:		true # Enable Shift-PageUp/Down in screen


URxvt*colorUL:			yellow
URxvt*underlineColor:		white
URxvt*urlLauncher:		/usr/bin/firefox

URxvt*foreground:		#f3f4f5
URxvt*transparent:		true
URxvt*shading:			50

URxvt*internalBorder:		0
URxvt*externalBorder:		0
URxvt*borderColor:		#2f343f
!! LEAVE BELOW AS false OR WILL GLITCH OUT !!
URxvt*borderLess:		false

URxvt*font:			xft:MonoSpace:style=Regular:size=12
URxvt*depth:			32
URxvt*allow_bold:		true
!URxvt*colorBD:			green

!! black/white
URxvt*color0:			#000000
URxvt*color15:			#f3f4f5

!! grey dark/light
URxvt*color8:			#2f343f
URxvt*color7:			#e8e8e7

!! red dark/light
URxvt*color1:			#900000
URxvt*color9:			#f3f4f5

!! green dark/light
URxvt*color2:			#1dff00
URxvt*color10:			#1dff00

!! yellow dark/light
URxvt*color3:			#ffff00
URxvt*color11:			#ffff00

!! blue dark/light
URxvt*color4:			#1793d1
URxvt*color12:			#1793d1

!! magenta dark/light
URxvt*color5:			#ee82ee
URxvt*color13:			#ee82ee

!! cyan dark/light
URxvt*color6:			#00ffff
URxvt*color14:			#00ffff

URxvt*inheritPixmap:		true
